.box {
  width: auto;
  height: 190px;
  background-color: #360bc5;
  border: 1px solid #ccc; 
  color: white; 
}
.gray {
  background: rgba(210, 208, 208, 0.772);
  text-align: center;
  color:rgb(53, 50, 50);
  font-weight: bold;
}
.card {
  margin-bottom: 20px;
}
.forecast-day {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.header {
  background-color: #09509c; /* Blue background color */
  color: #ffffff; /* White text color */
  text-align: center; /* Center the text */
  padding: 10px 10px; /* Add padding */
  width: 1300px; /* Set width to 1000px */
  margin-left: auto; /* Center the header */
  margin-right: auto; /* Center the header */
}
.rectangle {
  width: 1300px; /* Set width to 1300px */
  height: auto; /* Set height to 1200px */
  border: 2px solid #000; /* Set border to 2px solid black */
  margin: 50px auto; /* Center the rectangle box horizontally */
  position: relative; /* Position relative for absolute positioning */
}
/* Define the hover effect */
#cityHistory li:hover {
  background-color: darkgray;
  cursor: pointer;
}
